<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

  <h1> <%= kindOfDay %> </h1>


<!-- Create form with a single text input, on submit, make post req to home route -->

<form  class="" action="/" method="post">
  <input type="text" name="todo" placeholder="enter new todo">
  <button type="submit" name="button">Add Todo</button>
</form>



  </body>
</html>
